.page
{
    top: 0;
    left: 0;
    width: 100%;
    overflow-x: visible;
    position: absolute;
    border-collapse: collapse;
}

.topbar
{
    width: 100%;
    height: 1.75em;
    border: 2px solid black;
}

.toggle-button-area
{
    width: 20px;
}

.toggle-button
{
    z-index: 1;
    width: 20px;
    border: none;
    outline: none;
    font-size: 14px;
    cursor: pointer;
    padding-left: 2px;
    padding-right: 0;
    display: inline-block;
    text-decoration: none;
}

.close-button
{
    z-index: 1;
    width: 20px;
    border: none;
    outline: none;
    font-size: 14px;
    cursor: pointer;
    padding-left: 2px;
    padding-right: 0;
    display: inline-block;
    text-decoration: none;
}

.line
{
    width: 18px;
    height: 2px;
    margin-top: 1px;
    margin-bottom: 1px;
    border-bottom: 2px solid white;
}

.menu
{
    display: flex;
    justify-content: center;
}

.formlist
{
    top: 2em;
    display: flex;
    position: absolute;
}

.form
{
    top: 2em;
    display: flex;
    position: absolute;
    justify-content: center;
}
