.title
{
    display: block;
    margin-top: 32px;
    font-weight: bold;
    font-size: larger;
    text-align: center;
}

.center
{
    display: flex;
    margin-top: 4px;
    font-weight: bold;
    font-size: larger;
    justify-content: center;
}

.ctrlblock
{
    display: block;
    margin-top: 8px;
    padding-top: 32px;
    padding-bottom: 16px;
}

.row
{
    display: flex;
    width: 200px;
    margin-top: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    justify-content: left;
}

.label
{
    width: 100px;
    margin-top: 4px;
    margin-bottom: 8px;
    margin-right: 4px;
    text-align: left;
    display: inline-block;
}

.plabel
{
    width: 120px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 4px;
    display: inline-block;
}

field
{
    margin-left: 16px;
    margin-right: 16px;
}
