.title
{
    display: block;
    margin-top: 32px;
    font-weight: bold;
    font-size: larger;
    text-align: center;
}

.countries
{
    width: 600px;
    height: 500px;
    display: flex;
    margin-top: 8px;
    padding-top: 32px;
    padding-bottom: 16px;
    justify-content: center;
    border: 2px solid black;
}

table
{
    border: 2px solid black;
    border-collapse: collapse;
}

.left
{
    display: inline-block;
}

th
{
    font-weight: normal;
    border-bottom: 2px solid black;
}

tr
{
    height: 16px;
}

field
{
    margin-left: 16px;
    margin-right: 16px;
}