.title
{
    display: block;
    margin-top: 32px;
    font-weight: bold;
    font-size: larger;
    text-align: center;
}

.locations
{
    width: 900px;
    height: 400px;
    display: flex;
    margin-top: 8px;
    padding-top: 32px;
    padding-bottom: 16px;
    justify-content: center;
    border: 2px solid black;
}

.heading
{
    display: flex;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.header
{
    display: flex;
    margin-left: 16px;
}

.section
{
    padding-top: 8px;
    display: inline-block;
}

.table
{
    padding-top: 4px;
    padding-bottom: 8px;
    border: 2px solid black;
}

.detail
{
    width: 350px;
    padding-top: 48px;
    padding-left: 32px;
    padding-bottom: 8px;
}

.label
{
    width: 120px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 4px;
    display: inline-block;
}

field
{
    margin-left: 8px;
}