.title
{
    display: block;
    margin-top: 8px;
    font-weight: bold;
    font-size: larger;
    text-align: center;
}

.locations
{
    height: 180px;
    display: flex;
    margin-top: 8px;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    justify-content: center;
}


.loc-section
{
    padding-top: 2px;
    display: inline-block;
}


table
{
    border: 2px solid black;
    border-collapse: collapse;
}

.left
{
    display: inline-block;
}

.spacer
{
    height: 5px;
}

th
{
    font-weight: normal;
    border-bottom: 2px solid black;
}

tr
{
    height: 16px;
}

.loc-detail
{
    width: 350px;
    height: 152px;
    padding-top: 3px;
    margin-left: 16px;
    padding-left: 32px;
    padding-bottom: 2px;
    border: 2px solid black;
}

.label
{
    width: 120px;
    margin-top: 4px;
    margin-bottom: 2px;
    margin-right: 4px;
    display: inline-block;
}

.indicator
{
    width: 10px;
    height: 10px;
    margin-left: 2px;
    margin-right: 0;
    display: inline-block;
}

field
{
    margin-left: 16px;
    margin-right: 16px;
}