/* You can add global styles to this file, and also import other style files */

.bobble-button
{
    border: none;
    padding: 6px;
    font-size: 12px;
    margin: 4px 4px;
    cursor: pointer;
    outline: inherit;
    text-align: center;
    border-radius: 100%;
    text-decoration: none;
    display: inline-block;
}

div
{
    font-size: 14px;
}

input, input:disabled, input[disabled="disabled"]
{
    border: none;
    color: black;
    font-size: 14px;
    font-weight: normal;
    background: transparent;
    border-bottom: 1px dotted black;
}

input.mandatory
{
    border: none;
    color: black;
    font-size: 14px;
    font-weight: normal;
    background: transparent;
    border-bottom: 1px solid black;
}

input:focus
{
    border: none;
    font-size: 14px;
    outline: 0 !important;
    background: transparent;
    border-bottom: 2px solid black;
}

input.invalid
{
    border: 2px;
    font-size: 14px;
    border-color:red;
    border-style: solid;
}

input.lov-search, input.lov-search.focus
{
    border: none;
    color: black;
    font-size: 14px;
    font-weight: normal;
    background: transparent;
    border-bottom: 2px solid black;
}


input.lov-result, input.lov-result:disabled, input.lov-result[disabled="disabled"]
{
    border: none;
    color: black;
    font-size: 14px;
    font-weight: normal;
    background: transparent;
}


input.lov-result:focus
{
    border: none;
    color: black;
    font-size: 14px;
    font-weight: normal;
    background: transparent;
    border-bottom: 1px dotted black;
}