/* You can add global styles to this file, and also import other style files */

.bobble-button
{
    border: none;
    padding: 10px;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: grey;
}

div
{
    font-size: 14px;
}

input, input:disabled, input[disabled="disabled"]
{
    border: none;
    color: black;
    font-size: 14px;
    font-weight: normal;
    background: transparent;
    border-bottom: 1px dotted black;
}

input.mandatory
{
    border: none;
    color: black;
    font-size: 14px;
    font-weight: normal;
    background: transparent;
    border-bottom: 1px solid black;
}

input:focus
{
    border: none;
    font-size: 14px;
    outline: 0 !important;
    background: transparent;
    border-bottom: 2px solid black;
}

input.invalid
{
    border: 2px;
    font-size: 14px;
    border-color:red;
    border-style: solid;
}

.lov-search
{
    border: none;
    color: black;
    font-size: 14px;
    font-weight: normal;
    background: transparent;
}


.lov-result, .lov-result:disabled, .lov-result[disabled="disabled"]
{
    border: none;
    color: black;
    font-size: 14px;
    font-weight: normal;
    background: transparent;
}

.lov-spacer
{
    height: 8px;
}
