/* You can add global styles to this file, and also import other style files */

.bobble-button
{
    border: none;
    padding: 10px;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: grey;
}

div
{
    font-size: 14px;
}

input, input:disabled
{
    border: none;
    font-size: 14px;
    background: transparent;
    border-bottom: 1px solid #000000;
}

input:focus
{
    border: none;
    font-size: 14px;
    outline: 0 !important;
    background: transparent;
    border-bottom: 2px solid #000000;
}


input.invalid
{
    border: 2px;
    font-size: 14px;
    border-color:red;
    border-style: solid;
}
